
html, body {
    background-color: #63D1F4;
}
label {
    display: inline-block;
    width: 120px;
    padding: 3px;
}
label.conc {
    width: 86px;
}
p.padd-submit {
    padding-top: 26px;
    padding-left: 186px;
}
