
html, body {
    background-color: #63D1F4;
}
label {
    display: inline-block;
    width: 120px;
    padding: 3px;
}
label.conc {
    width: 86px;
}
p.padd-submit {
    padding-top: 26px;
    padding-left: 186px;
}
th, td {
    width: 100px;
    text-align: center;
}
span {
    line-height: 1.4;
    padding-right: 24px;
}
table {
    border: solid 1px;
    padding: 2px;
}
.hide {
    display: none;
}